html{
	height: 100%;
}
body{
	height: 100%;
	padding-top: 76px;
	margin-left: 0px;
	margin-right: 0px;
}
section{
	min-height: 100%;
	width: 100%;
}
.navbar-header .navbar-icon {
    line-height:76px;
    height:76px;
}

.navbar-header  a.navbar-icon {
    padding:10px 10px;
    float:right;
    color: #00ACEE;
    background:#fff;
    border-left: 1px solid #01A89E;
}
.video-wrapper{
	position: relative;
	margin: 1.5em 0;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.navbar-inverse {
background-color: #FFc863;
}
.video-wrapper iframe, .video-wrapper object, .video-wrapper embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/*#about{
	height:95%;
}*/
.first{
	/*margin-top: 76px;*/
	/*padding-top: 3%;*/
	padding-bottom: 3%;
	min-height: 95%;
}
.lead{
	font-size: 1.3em;
}
#about .lead{
	font-weight: 500;
}
p
{
	font-size: 20px;
	font-weight: 300;
}
.shift
{
	padding-top: 15vh;
}
.home-grid img{
	padding: 15px;
}
.well > h3
{
	margin-top: 15px
}
.well
{
	padding:5px;
}
.logo
{
	padding-left: 21px;
	margin-top: 17px;
	height: 50px;
}
.logo img{
	height: 50px;
}
.caption {
	text-align: center;
}
.caption1 h4{

text-align: center;
}
.caption1 p{

text-align: justify;
}

/*=====HOME COVER IMAGE=====*/
.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

footer{
	min-height: 25%;
}
footer h3{
	margin-top: 0px;
}
/*.home-slide
{
	width: 100%;
	height: 100%;
	z-index: 50;
}
.slide-box
{
	margin-top: 25vh;
	margin-bottom: 25vh;
	min-height: 50vh;
}
.row-border
{
border-top: 8px solid #01a89e;
border-bottom: 8px solid #01a89e;
}
.half-container
{
	margin-top: 10vh;
	margin-bottom: 25vh;
	min-height: 50vh;
}
.half-text
{
	margin-top: 15vh;
	margin-bottom: 15vh;
}*/
/*============CONTENT HOVER==============*/

.contenthover { padding:20px 20px 10px 20px; }
.contenthover, .contenthover h3, contenthover a { color:#fff; }
.contenthover h3, .contenthover p { margin:0 0 10px 0; line-height:1.4em; padding:0; }
.contenthover a.mybutton { display:block; padding:5px 10px; float: left; background:#3c9632; color:#fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; text-align: center; }
.contenthover a.mybutton:hover { background:#34742d }

/*================BACKGROUND COLOURS=============*/
.aqua
{
	background-color: #01a89e;
}
.blue-1
{
	background-color: #87D5D5;
}
.yellow
{
	background-color: #FFED00;
}
.bg-1{
	background-color: #98C9C9;
}
.bg-2{
	background-color: #ece6ca;
}
.bg-3{
	background-color: #FFFA83;
}
.bg-4{
	background-color: #CAE0DD;
}
.margin-1
{
	position: relative;
	margin: 30px 10px auto 10px;	
}
#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 10px;
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 10px;
    z-index: 1000;
}
.section-head
{
	color: #01a89e;
	padding-bottom: 10px;
}

.img-thumbnail-circle
{
	border-radius: 30%;
}
/*========FACEBOOK WIDGET=======*/
#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
/*========PRESS=========*/
.press{
	border: 2px double;
	margin: 15px 10px;
	padding: 10px 10px;
	background-color: #FFFFA9;
}
/*========CONTACT========*/
section#contact {
background-color: #222;
background-image: url(../img/map-image.png);
background-position: center;
background-repeat: no-repeat;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

/*======= About me ========*/
.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 10%;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
.ch-info{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10%;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}
.ch-grid h5{
	margin-bottom: 0px;
}
.ch-grid p{
	padding-bottom: 2px;
}

.ch-info .ch-info-front {
	box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}

.ch-info .ch-info-back {
	-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background: #000;
	opacity: 0;
}

.ch-aashish { 
	background-image: url(../img/team/Aashish-Beergi.jpg);
}
.ch-kartik { 
	background-image: url(../img/team/Kartik-Jain.jpg);
}
.ch-mehna { 
	background-image: url(../img/team/Mehna-Jain.jpg);
}
.ch-faiza { 
	background-image: url(../img/team/Faiza-Hasan.jpg);
}
.ch-surbhi { 
	background-image: url(../img/team/Surbhi-Arora.jpg);
}
.ch-varsha { 
	background-image: url(../img/team/Varsha-Sivaram.jpg);
}
.ch-navya { 
	background-image: url(../img/team/Navya-Varasala.jpg);
}
.ch-harshita { 
	background-image: url(../img/team/Harshita-Srivastava.jpg);
}
.ch-shradha { 
	background-image: url(../img/team/Shradha-Jain.jpg);
}
.ch-kanishka { 
	background-image: url(../img/team/Kanishka-Goel.jpg);
}
.ch-neetu { 
	background-image: url(../img/team/Neetu-Suthar.jpg);
}
.ch-shreeya { 
	background-image: url(../img/team/Shreeya-Bhutani.jpg);
}
.ch-isha { 
	background-image: url(../img/team/Isha-Arora.jpg);
}
.ch-gagandeep { 
	background-image: url(../img/team/Gagandeep-Kaur.jpg);
}
.ch-sonal { 
	background-image: url(../img/team/Sonal-Chanana.jpg);
}
.ch-rajeev { 
	background-image: url(../img/team/Rajeev.jpg);
}
.ch-sachin { 
	background-image: url(../img/team/Sachin-Srinivas.jpg);
}
.ch-anish { 
	background-image: url(../img/team/Anish-Singh.jpg);
}
.ch-sheerin { 
	background-image: url(../img/team/Sheerin-Naseem.jpg);
}
.ch-divya-verma { 
	background-image: url(../img/team/Divya-Verma.jpg);
}
.ch-divya-nakra { 
	background-image: url(../img/team/Divya-Nakra.jpg);
}
.ch-geetika { 
	background-image: url(../img/team/Geetika-Varshney.jpg);
}
.ch-amandeep { 
	background-image: url(../img/team/Amandeep-Singh.jpg);
}
.ch-sakshi { 
	background-image: url(../img/team/Sakshi-Mahajan.jpg);
}
.ch-pranit { 
	background-image: url(../img/team/Pranit-Singhal.jpg);
}
.ch-shubham { 
	background-image: url(../img/team/Shubham-Jain.jpg);
}
.ch-mayank { 
	background-image: url(../img/team/Mayank-Bhola.jpg);
}
.ch-varun { 
	background-image: url(../img/team/Varun-Soni.jpg);
}
.ch-shivani { 
	background-image: url(../img/team/Shivani-Tiwari.jpg);
}
.ch-abhishek { 
	background-image: url(../img/team/Abhishek.jpg);
}
.ch-ishan { 
	background-image: url(../img/team/Ishan-Sain.jpg);
}
.ch-ankush { 
	background-image: url(../img/team/Ankush-Pandey.jpg);
}
.ch-maalvika{
	background-image: url(../img/team/Maalvika-Verma.jpg);
}
.ch-jyoti-sandhu{
	background-image: url(../img/team/Jyoti-Sandhu.jpg);
}
.ch-surbhi-arora1{
	background-image: url(../img/team/Surbhi-Arora.jpg);
}
.ch-hemlata{
	background-image: url(../img/team/Hemlata.jpg);
}
.ch-ishani-dutta{
	background-image: url(../img/team/Ishani-Dutta.jpg);
}
.ch-shivangi-gupta{
	background-image: url(../img/team/Shivangi-Gupta.jpg);
}
.ch-smriti-mehra{
	background-image: url(../img/team/Smriti-Mehra.jpg);
}
.ch-hemant{
	background-image: url(../img/team/Hemant.jpg);
}
.ch-namrata-gupta{
	background-image: url(../img/team/Namrata-Gupta.jpg);
}
.ch-neha-rani{
	background-image: url(../img/team/Neha-rani.jpg);
}
.ch-deepansh-goyal{
	background-image: url(../img/team/Deepansh-Goyal.jpg);
}


.ch-info h4 {
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-size: 14px;
	margin: 0 15px;
	padding: 40px 0 0 0;
	height: 110px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}
/*===========/ About me========>